.videobg-container {
	position: relative;
	width: 100%;
}

.videobg-container.full-screen {
	height: 100vh;
}
body{background: #050D16;}
.loading{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.load {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  .loader {
	width: 80px;
	aspect-ratio: 1;
	box-sizing: border-box;
	background: radial-gradient(farthest-side at right, #fff 98%, transparent) 20% 50%/40% 80%,
	  radial-gradient(farthest-side at left, #fff 98%, transparent) 80% 50%/40% 80%, #050D16;
	background-repeat: no-repeat;
	/* border-radius: 30px; */
	filter: blur(1px) contrast(1);
	animation: l18 0.8s infinite alternate;
  }
  @keyframes l18 {
	0%,
	20% {
	  background-position: 20% 50%, 80% 50%;
	}
	100% {
	  background-position: 80% 50%, 20% 50%;
	}
  }
.videobg-container .overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 0px 15px;
}

.videobg-container .overlay h1 {
	font-family: 'Urbanist', sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
	color: #fff;
	font-size: 86px;
	text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
}

.videobg-container .overlay p {
	color: #fff;
	max-width: 800px;
	margin: 20px auto 0 auto;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.videobg-container video {
	width: 100%;
	/* height: auto; */
	height: 750px;
	object-fit: cover;
	z-index: -1;
	position: relative;
}

.videobg-container.full-screen video {
	height: 100%;
	object-fit: cover;
}

@media all and (max-width: 1024px) {
	.videobg-container .overlay h1 {
		font-size: 62px;
	}
}

@media all and (max-width: 900px) {
	.videobg-container .overlay h1 {
		font-size: 56px;
	}
}

@media all and (max-width: 676px) {
	.videobg-container .overlay h1 {
		font-size: 32px;
	}
}
